{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

{{ if eq .Site.Params.options.flexSearch false -}}
<div class="sticky-lg-top">
{{ end -}}

<div class="header-bar"></div>

<header class="navbar navbar-expand-md navbar-light doks-navbar">
  <nav class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }} flex-wrap flex-md-nowrap" aria-label="Main navigation">
    <a class="navbar-brand p-0 me-auto" href="{{ "/" | relLangURL }}" aria-label="{{ .Site.Params.Title }}">
      <svg width="48px" height="33px" viewBox="0 0 238 69" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group" transform="translate(-706.000000, 0.000000)" fill="#224099" fill-rule="nonzero">
                <path d="M874.571,34.5927 C874.571,36.9877 873.224,39.3837 869.181,39.3837 L824.412,39.3837 C825.161,49.7147 832.198,57.5007 844.624,57.5007 C852.411,57.5007 857.053,54.8057 861.993,50.1637 C863.192,48.9667 864.838,47.9177 866.635,47.9177 C869.779,47.9177 872.475,50.1637 872.475,53.7577 C872.475,55.2537 871.725,56.6027 870.678,57.8007 C864.988,64.3877 854.806,68.7297 844.027,68.7297 C821.716,68.7297 809.889,53.1577 809.889,34.4417 C809.889,14.8277 824.113,0.1557 843.427,0.1557 C862.293,0.1557 874.571,15.4277 874.571,34.5927 M843.427,11.3847 C833.095,11.3847 826.059,18.7207 824.712,28.0047 L861.545,28.0047 C860.346,19.0207 853.609,11.3847 843.427,11.3847" id="Fill-208"></path>
                <path d="M910.27,0.1553 C929.585,0.1553 943.81,14.8273 943.81,34.4423 C943.81,53.1583 931.983,68.7303 909.672,68.7303 C898.891,68.7303 888.711,64.3883 883.021,57.8003 C881.974,56.6023 881.225,55.2543 881.225,53.7573 C881.225,50.1643 883.918,47.9183 887.064,47.9183 C888.861,47.9183 890.507,48.9663 891.704,50.1643 C896.646,54.8063 901.289,57.5003 909.075,57.5003 C921.501,57.5003 928.538,49.7143 929.287,39.3833 L884.518,39.3833 C880.475,39.3833 879.128,36.9873 879.128,34.5923 C879.128,15.4273 891.404,0.1553 910.27,0.1553 M892.154,28.0043 L928.987,28.0043 C927.64,18.7203 920.604,11.3843 910.27,11.3843 C900.09,11.3843 893.353,19.0203 892.154,28.0043" id="Fill-210"></path>
                <path d="M749.1733,62.228 L749.1733,29.717 C749.1733,20.597 742.4873,13.177 734.2693,13.177 C726.0513,13.177 719.3653,20.597 719.3653,29.717 L719.3653,62.228 C719.3653,65.867 716.4153,68.816 712.7773,68.816 C709.1393,68.816 706.1893,65.867 706.1893,62.228 L706.1893,29.717 C706.1893,13.331 718.7853,0 734.2693,0 C749.7533,0 762.3493,13.331 762.3493,29.717 L762.3493,62.228 C762.3493,65.867 759.4003,68.816 755.7613,68.816 C752.1233,68.816 749.1733,65.867 749.1733,62.228 Z" id="Fill-212"></path>
                <path d="M798.7441,68.816 C795.1061,68.816 792.1561,65.867 792.1561,62.228 L792.1561,29.717 C792.1561,20.597 785.4701,13.177 777.2531,13.177 C769.0351,13.177 762.3491,20.597 762.3491,29.717 L762.3491,62.228 C762.3491,65.867 759.4001,68.816 755.7611,68.816 C752.1231,68.816 749.1731,65.867 749.1731,62.228 L749.1731,29.717 C749.1731,13.331 761.7701,0 777.2521,0 C792.7361,0 805.3321,13.331 805.3321,29.717 L805.3321,62.228 C805.3321,65.867 802.3821,68.816 798.7441,68.816" id="Fill-214"></path>
            </g>
        </g>
      </svg>
    </a>

    <button class="btn btn-menu d-block d-md-none order-5" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDoks" aria-controls="offcanvasDoks" aria-label="Open main menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
    </button>

    <div class="offcanvas offcanvas-start border-0 py-md-1" tabindex="-1" id="offcanvasDoks" data-bs-backdrop="true" aria-labelledby="offcanvasDoksLabel">
      <div class="header-bar d-md-none"></div>
      <div class="offcanvas-header d-md-none">
        <h2 class="h5 offcanvas-title ps-2" id="offcanvasDoksLabel"><a class="text-dark" href="{{ "/" | relLangURL }}">{{ .Site.Params.Title }}</a></h2>
        <button type="button" class="btn-close text-reset me-2" data-bs-dismiss="offcanvas" aria-label="Close main menu"></button>
      </div>
      <div class="offcanvas-body px-4">
        <h3 class="h6 text-uppercase mb-3 d-md-none">Main</h3>
        <ul class="nav flex-column flex-md-row ms-md-n3">
          {{- $current := . -}}
          {{- $section := $current.Section -}}
          {{ range .Site.Menus.main -}}
            {{- $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) -}}
            {{- $active = or $active (eq .Name $current.Title) -}}
            {{- $active = or $active (and (eq .Name ($section | humanize)) (eq $current.Section $section)) -}}
            {{- $active = or $active (and (eq .Name "Blog") (eq $current.Section "blog" "contributors")) -}}
            {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle ps-0 py-1" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Name }}
                  <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-main shadow rounded border-0" aria-labelledby="navbarDropdownMenuLink">
                  {{ range .Children -}}
                  {{- $active = eq .Name $current.Title -}}
                    <li>
                      <a class="dropdown-item{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}"{{ if $active }} aria-current="true"{{ end }}>{{ .Name }}</a>
                    </li>
                  {{ end -}}
                </ul>
              </li>
            {{ else }}
              <li class="nav-item">
                <a class="nav-link ps-0 py-1{{ if $active }} active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end -}}
        </ul>
        <hr class="text-black-50 my-4 d-md-none">
        <h3 class="h6 text-uppercase mb-3 d-md-none">Socials</h3>
        <ul class="nav flex-column flex-md-row ms-md-auto me-md-n5 pe-md-2">
          {{ range .Site.Menus.social -}}
            <li class="nav-item">
              <a class="nav-link ps-0 py-1" href="{{ .URL | relURL }}">{{ .Pre | safeHTML }}<small class="ms-2 d-md-none">{{ .Name | safeHTML }}</small></a>
            </li>
          {{ end -}}
        </ul>
      </div>
    </div>
    {{ if .Site.Params.options.darkMode -}}
    <button id="mode" class="btn btn-link order-md-1" type="button" aria-label="Toggle user interface mode">
      <span class="toggle-dark"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg></span>
      <span class="toggle-light"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg></span>
    </button>
    {{ end -}}

    {{ if eq .Site.Params.options.multilingualMode true -}}
    <div class="dropdown order-md-2">
      <button class="btn btn-doks-light dropdown-toggle" id="doks-languages" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static">
        {{ .Site.Params.languageISO }}
        <span class="dropdown-caret"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow rounded border-0" aria-labelledby="doks-languages">

        <li><a class="dropdown-item current" aria-current="true" href="{{ .RelPermalink }}">{{ .Site.Language.LanguageName }}</a></li>

        <li><hr class="dropdown-divider"></li>

      {{ if .IsTranslated -}}
        {{ range .Translations }}
          <li><a class="dropdown-item" rel="alternate" href="{{ .RelPermalink }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .Language.LanguageName }}</a></li>
        {{ end -}}
      {{ else -}}
        {{ range .Site.Languages -}}
          {{ if ne $.Site.Language.Lang .Lang }}
            <li><a class="dropdown-item" rel="alternate" href="{{ .Lang | relLangURL }}" hreflang="{{ .Lang }}" lang="{{ .Lang }}">{{ .LanguageName }}</a></li>
          {{ end -}}
        {{ end -}}
      {{ end -}}
        <!--
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/docs/contributing/how-to-contribute/">Help Translate</a></li>
        -->
      </ul>
    </div>
    {{ end -}}
  </nav>
</header>

{{ if eq .Site.Params.options.flexSearch false }}
</div>
{{ end -}}

{{ if eq .Section "docs" -}}
<nav class="doks-subnavbar py-2 sticky-lg-top{{ if eq .Site.Params.options.flexSearch false }} d-lg-none{{ end }}" aria-label="Secondary navigation">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }} d-flex align-items-md-center">

    {{ if .Site.Params.options.flexSearch -}}
    <form class="doks-search position-relative flex-grow-1 me-auto">
      <input id="search" class="form-control is-search" type="search" placeholder="Search docs..." aria-label="Search docs..." autocomplete="off">
      <div id="suggestions" class="shadow bg-white rounded d-none"></div>
    </form>
    {{ end -}}

    {{ if eq .Site.Params.options.docsVersioning true -}}
    <div class="dropdown ms-3">
      <button class="btn btn-doks-light dropdown-toggle" id="doks-versions" data-bs-toggle="dropdown" aria-expanded="false" data-bs-display="static" aria-label="Toggle version menu">
        <span class="d-none d-lg-inline">Doks</span> v{{ .Site.Params.docsVersion }}
      </button>
      <ul class="dropdown-menu dropdown-menu-end shadow rounded border-0" aria-labelledby="doks-versions">
        <li><a class="dropdown-item current" aria-current="true" href="/docs/{{ .Site.Params.docsVersion }}/prologue/introduction/">Latest ({{ .Site.Params.docsVersion }}.x)</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/docs/0.2/prologue/introduction/">v0.2.x</a></li>
        <li><a class="dropdown-item" href="/docs/0.1/prologue/introduction/">v0.1.x</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="/docs/versions/">All versions</a></li>
      </ul>
    </div>
    {{ end -}}

    <button class="btn doks-sidebar-toggle d-lg-none ms-3 order-3 collapsed{{ if eq .Site.Params.options.flexSearch false }} ms-auto{{ end }}" type="button" data-bs-toggle="collapse" data-bs-target="#doks-docs-nav" aria-controls="doks-docs-nav" aria-expanded="false" aria-label="Toggle documentation navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-expand" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Expand</title><polyline points="7 13 12 18 17 13"></polyline><polyline points="7 6 12 11 17 6"></polyline></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-collapse" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Collapse</title><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
    </button>

  </div>
</nav>

<div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
  <aside class="doks-sidebar">
    <nav id="doks-docs-nav" class="collapse d-lg-none" aria-label="Tertiary navigation">
      {{ partial "sidebar/docs-menu.html" . }}
    </nav>
  </aside>
</div>

{{ else if ne .CurrentSection .FirstSection -}}
<nav class="doks-subnavbar py-2 sticky-lg-top d-lg-none" aria-label="Secondary navigation">
  <div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }} d-flex align-items-md-center">
    <span class="navbar-text ms-0">{{ .Section | humanize }}</span>
    <button class="btn doks-sidebar-toggle d-lg-none ms-auto order-3 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#doks-docs-nav" aria-controls="doks-docs-nav" aria-expanded="false" aria-label="Toggle documentation navigation">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-expand" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Expand</title><polyline points="7 13 12 18 17 13"></polyline><polyline points="7 6 12 11 17 6"></polyline></svg>
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="doks doks-collapse" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>Collapse</title><polyline points="17 11 12 6 7 11"></polyline><polyline points="17 18 12 13 7 18"></polyline></svg>
    </button>
  </div>
</nav>

<div class="container-{{ if .Site.Params.options.fullWidth }}fluid{{ else }}xxl{{ end }}">
  <aside class="doks-sidebar">
    <nav id="doks-docs-nav" class="collapse d-lg-none" aria-label="Tertiary navigation">
      {{ partial "sidebar/docs-menu.html" . }}
    </nav>
  </aside>
</div>
{{ end -}}
